<%- include("partials/journal_header") %>

<body id="main">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-md-end  justify-content-center py-3 mb-4 border-bottom">
          <ul class="nav nav-pills align-items-center">
            <li class="nav-item"><a href="/journal/entries" class="text-white nav-link nav-mission mission-topnav">View all Entries</a></li>
            <li class="nav-item"><a href="/breathe" class="text-white nav-link nav-mission mission-topnav">Take a Breather</a></li>
            <li class="nav-item"><a href="/quote" class="text-white nav-link nav-mission mission-topnav">Daily Quote</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link"><button type="button" id="login-btn" class="btn btn-secondary">Logout</button></a></li>
            <a href="/" class="image-hover">
                <img src="/assets/ChilloutLogo_2.png" alt="ChillOut Logo" class="px-3" height="40px">
            </a>
          </ul>
        </header>
    </div>

    <% if (journalEntry) { %>
      <div class="container mt-5 p-4" id="today-entry">
        <h1 class="display-5 main-text fw-normal d-flex justify-content-between align-items-center">
          <span>Today's Journal Entry</span>
          <button type="button" class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#editModal">
            Edit Entry
          </button>
        </h1>
        <hr />
        <h2 class="display-6 main-text fw-normal subText" style="word-wrap: break-word;"><%= journalEntry.title %></h2>
        <p class="lead main-text fw-normal subText" style="word-wrap: break-word;"><%= journalEntry.content %></p>
        <p class="text-end m-0"><%= new Date().toLocaleDateString() %></p>
      </div>

      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content custom-modal">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Journal Entry</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="editForm" method="post" action="/journal/edit">
                <div class="form-group mb-3">
                  <label for="editTitle">Title</label>
                  <input type="text" class="form-control" id="editTitle" name="title" value="<%= journalEntry.title %>" oninput="checkInputFieldsAfter()">
                </div>
                <div class="form-group mb-3">
                  <label for="editContent">Content</label>
                  <textarea class="form-control" id="editContent" name="content" rows="6" oninput="checkInputFieldsAfter()"><%= journalEntry.content %></textarea>
                </div>
                <button type="submit" id="saveButton" class="btn btn-secondary mt-3">Save Changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="container mt-5 p-4" id="today-entry">
        <h1 class="display-5 main-text fw-normal d-flex justify-content-between align-items-center">
          <span>Today's Journal Entry</span>
          <span class="lead m-3 fw-normal"><%= new Date().toLocaleDateString() %></span>
        </h1>
        
        <hr />
        <form class="container" method="post" action="/journal">
          <div class="form-group mb-3">
            <input type="text" class="form-control form-control-lg" placeholder="Title of today's entry" id="newTitle" name="title" oninput="checkInputFieldsBefore()">
          </div>
          <div class="form-group mb-3">
            <textarea class="form-control" rows="9" placeholder="Pen down today's entry here" id="newContent" name="content" oninput="checkInputFieldsBefore()"></textarea>
          </div>
          <button type="submit" id="submitButton" class="btn btn-secondary" disabled>Submit</button>
        </form>
      </div>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
      function checkInputFieldsBefore() {
        const title = document.getElementById('newTitle').value;
        const content = document.getElementById('newContent').value;
        const submitButton = document.getElementById('submitButton');
      
        if (title.trim() === '' || content.trim() === '') {
          submitButton.disabled = true;
        } else {
          submitButton.disabled = false;
        }
      }

      function checkInputFieldsAfter() {
        const title = document.getElementById('editTitle').value;
        const content = document.getElementById('editContent').value;
        const saveButton = document.getElementById('saveButton');
      
        if (title.trim() === '' || content.trim() === '') {
          saveButton.disabled = true;
        } else {
          saveButton.disabled = false;
        }
      }
    </script>
  </body>