<%- include("partials/journal_header") %>

<body id="main">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-md-end  justify-content-center py-3 mb-4 border-bottom">
      <ul class="nav nav-pills align-items-center">
        <li class="nav-item"><a href="/breathe" class="text-white nav-link nav-mission mission-topnav">Take a Breather</a></li>
        <li class="nav-item"><a href="/quote" class="text-white nav-link nav-mission mission-topnav">Daily Quote</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link"><button type="button" id="login-btn" class="btn btn-secondary">Logout</button></a></li>
        <a href="/" class="image-hover">
          <img src="/assets/ChilloutLogo_2.png" alt="ChillOut Logo" class="px-3" height="40px">
        </a>
      </ul>
    </header>
  </div>

  <div class="container">
    <h1 class="display-5 main-text fw-normal"><%= username %>'s journal</h1><hr />

    <% if (entries.length > 0) { %>
      <table class="table align-middle">
          <thead>
            <tr>
              <th>Entry</th>
              <th>Date Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% entries.forEach(entry => { %>
              <tr>
                <td>
                  <p class="m-0 underline" data-bs-toggle="modal" data-bs-target="#journalEntryModal"><strong><%= entry.title %></strong></p>
                  <p class="truncate m-0"><%= entry.content.slice(0, 40) + "..."%></p>
                </td>
                <td class="align-middle"><%= entry.createdAt.toDateString() %></td>
                <td>
                  <div class="d-flex justify-content-end">
                    <% if (entry.createdAt.toDateString() === new Date().toDateString()) { %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square m-2 pointer" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#editModal<%= entry._id %>">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    <% } %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3 m-2 pointer" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal<%= entry._id %>">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                  </div>
                    
                  <!-- Delete Modal -->
                  <div class="modal fade" id="confirmDeleteModal<%= entry._id %>" tabindex="-1" aria-labelledby="confirmDeleteModalLabel<%= entry._id %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content custom-modal">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete this journal entry? <strong>This action is irreversible!</strong></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="/journal/entries/<%= entry._id %>" method="POST">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                    </div>
                  </div>

                  <!-- Journal Entry Modal -->
                  <div class="modal fade" id="journalEntryModal" tabindex="-1" aria-labelledby="journalEntryModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                      <div class="modal-content custom-modal">
                        <div class="modal-header">
                          <h3 class="modal-title display-7 main-text fw-normal" id="journalEntryModalLabel">Your Entry on <%= entry.createdAt.toDateString() %></h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group mb-3">
                            <h4 class="display-8 main-text fw-bold"><%= entry.title %></h4>
                            <p class="lead main-text fw-normal"><%= entry.content %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Edit Modal -->
                  <div class="modal fade" id="editModal<%= entry._id %>" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content custom-modal">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editModalLabel">Edit Today's Journal Entry</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form id="editForm" method="post" action="/journal/edit">
                            <div class="form-group mb-3">
                              <label for="editTitle">Title</label>
                              <input type="text" class="form-control" id="editTitle" name="title" value="<%= entry.title %>" oninput="checkInputFieldsAfter()">
                            </div>
                            <div class="form-group mb-3">
                              <label for="editContent">Content</label>
                              <textarea class="form-control" id="editContent" name="content" rows="6" oninput="checkInputFieldsAfter()"><%= entry.content %></textarea>
                            </div>
                            <button type="submit" id="saveButton" class="btn btn-secondary mt-3">Save Changes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        
    <% } else { %>
      <p class="lead main-text fw-normal">No journal entries found. <a href="/journal" class="fw-bold create-entry">Create an entry now?</a></p>
    <% } %>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script>
    function checkInputFieldsAfter() {
      const title = document.getElementById('editTitle').value;
      const content = document.getElementById('editContent').value;
      const saveButton = document.getElementById('saveButton');
    
      if (title.trim() === '' || content.trim() === '') {
        saveButton.disabled = true;
      } else {
        saveButton.disabled = false;
      }
    }
  </script>
</body>
